* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: gray rgba(0, 0, 0, 0);
}

img {
  animation: show;
  animation-fill-mode: both;
  animation-range: entry 25% cover 25%;
  /* animation-timeline: --reveal; */
  animation-timeline: view();
  border-radius: 16px;
  height: 250px;
  object-fit: cover;

  /* view-timeline-name: --reveal; */
  width: 250px;
}

body {
  background: #111;
  display: grid;
  gap: 8px;
  /* grid-template-columns: auto auto; */
  padding-block: 128px;
  place-content: center;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
